<!doctype html>
<html>
<body>
	

	
</body>

</html>

<html>
          <head>
            <style type="text/css">
                html
                {
                    width: 100%;
                    height: 100%;
                }

                body
                {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
            </style>
        </head>

        <body>
				<a href = "https://api.instagram.com/oauth/authorize/?client_id=b1a391a91f074970bf29518a6de3101d&redirect_uri=http://localhost:8000/User/choose&response_type=code">Sync your Instagram media with us</a>        
		</body>
</html>